html {
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

.container-fluid {
    padding: 0;
}

.bg-image {
    min-height: 100vh;
    background-image: url('../assets/main.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    animation-name: blur;
    animation-delay: 1s;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

.start-page-cntainer {
    position: relative;
}

.jubilee-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    opacity: 0;
    color: white;
    width: 50%;
    height: 200px;
    border: 3px solid #f1f1f1;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: calc(50vh - 100px);
    left: 25%;
    animation-name: blur-reverse;
    animation-delay: 3s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.jubilee-container h1 {
    font-size: 50px;
}

.jubilee-container p {
    font-size: 25px;
}

.title-link,
.title-link:hover {
    color: white;
    text-decoration: none;
}

.arrow-icon-title {
    opacity: 0;
    animation-name: arrow;
    animation-delay: 5s;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    position: absolute;
    left: calc(50vw - 15px);
    top: 50vh;
}

.arrow-icon-title i {
    font-size: 65px;
    color: black;
}

.arrow-icon-regular {
    top: 25vh;
    right: 23vw;
    position: absolute;
}

.arrow-icon-joke {
    top: 50vh;
    right: 50vw;
    position: absolute;
}

.arrow-icon-regular i {
    font-size: 65px;
    color: white;
}

.arrow-icon-joke i {
    font-size: 65px;
    color: white;
}

@keyframes blur {
    from {
        filter: blur(0px)
    }
    to {
        filter: blur(5px)
    }
}

@keyframes blur-reverse {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        top: calc(20vh);
    }
}

@keyframes arrow {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    60% {
        opacity: 1;
        top: 50vh;
    }
    80% {
        opacity: 1;
        top: 52vh;
    }
    100% {
        opacity: 1;
        top: 50vh;
    }
}