.family-container {
    background: url('../assets/family.jpg');
}

.wishes-container {
    background: url('../assets/getting-wishes.jpg');
}

.jokes-container {
    background: url('../assets/jokes-bg.jpg');
    cursor: pointer;
}

.joke-quote-author {
    text-align: right;
    font-style: italic;
}

/* .videos-container {
    background: url('assets/family.jpg');
} */

.family-container, .wishes-container, .jokes-container {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    position: relative;
}

.desc-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 35vw;
    height: 15vh;
    border: 3px solid #f1f1f1;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 7vh;
    right: 7vw;
}

.joke-quote-container {
    text-align: center;
    width: 90vw;
    height: auto;
    background-color: rgba(0, 0, 0, 0.4);
    position: relative;
    top: 20vh;
    padding: 2rem;
    margin: 0 auto;
}

.videos-container-fixed {
    left: 20px;
    bottom: 20px;
    position: fixed;
    z-index: 1000;
}

.videos-container {
    min-height: 100vh;
    position: relative;
}

#myVideo {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}
